.grid {
  max-width: 1200px;
  margin-inline: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 2rem;
  row-gap: 4rem;
  padding: 0.5rem;
}

.grid-header {
  grid-column: 1/-1;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.grid-header h2 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 24px;
  color: #333;
}

.grid-header-length {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 17px;
  letter-spacing: 0em;
  text-align: left;
}

.blur {
  background: #4f4f4f66;
}
