.search-bar {
  position: absolute;
  width: 100%;
  background-color: #fff;
}

.wrapper-search-bar {
  max-width: 1200px;
  margin-inline: auto;
  min-height: 70vh;
  padding: 2rem 3rem;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}

.cursor-pointer {
  cursor: pointer;
}

form {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 2rem;
  align-items: center;
}

.form-group {
  display: flex;
  flex-direction: column;
  border: 1px solid rgb(240, 240, 240);
  padding: 0.7rem 1rem;
  border-radius: 12px;
}

.form-group:focus-within {
  border: 1px solid #333;
}

input[type="text"],
input[type="text"]:focus {
  padding: 0.5rem 0;
  border: none;
  outline: none;
  font-family: "Mulish", sans-serif;
  font-size: 14px;
}

.form-group label {
  font-family: Mulish;
  font-size: 12px;
  font-weight: 800;
  line-height: 11px;
  letter-spacing: 0em;
  text-align: left;
}

.button-form {
  justify-self: start;
  display: flex;
  align-items: center;
  gap: 0.7rem;
  padding: 0.5rem 1.2rem;
  background-color: #eb5757e5;
  border-radius: 16px;
  border: none;
  cursor: pointer;

  font-family: "Mulish", sans-serif;
  font-size: 14px;
  font-weight: 700;
  color: #f2f2f2;
}

.edit {
  font-family: "Mulish", sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 15px;
  letter-spacing: 0em;
  text-align: left;
}

@media only screen and (min-width: 600px) {
  .wrapper-input {
    position: absolute;
  }
}
